<div class='user-list-holder'>
  <h1>Online Users</h1>
  <ul class="user-list">

  </ul>
</div>

<div class="chat-holder">
  
  <ul class="chat">
    
  </ul>
  
  <div class="submit">
    <form class='chat-form'>
      <input type="text" id="chat-input" autocomplete="off">
      <input type="submit" value="Submit" style='display:none;'>
    </form>
  </div>
  
</div>