<link rel="stylesheet" type="text/css" href="/css/console.css" />
<script type="text/javascript" src="/js/jquery.periodicalupdater.js"></script>
<script type="text/javascript" src="/js/console.js"></script>

<h1>Console</h1>

<div id="console">
  <div id="console-output">
  </div>

  <div id="console-input">
    <input value="">

    <textarea></textarea>
  </div>
</div>
