<form action="/login" method="post">
  <p>
    <label for="user_name">User</label>
    <input type="text" name="user_name" />
  </p>

  <p>
    <label for="password">Password</label>
    <input type="password" name="password" />
  </p>

  <input type="submit" value="Login" />
</form>
